# Dependencies
node_modules/

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

# Operating System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary
temp/
tmp/

# Build
dist/

# Misc
*.swp