PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/wiswits_library
# For MongoDB Atlas, use something like:
# MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/wiswits_library
FINE_PER_DAY=2
DEFAULT_LOAN_DAYS=14
